body {
    background-color: #333;
    font-size: 36px;
    font-family: sans-serif;
    color: #fff;
}

.list {
    border: 10px solid #000;
    border-radius: 10px;
    background-color: #000;
}

.list__item {
    box-sizing: border-box;
    padding: 5px;
    margin:5px auto;
    list-style: square;
}

.item--harmful {
    color: red;
    font-weight: bold;
}

.item--important {
    color: blue;
    font-weight: bolder;
}

.list--old {
    background-color:#777;
    border-color: #777 ;
}