body{
    background-color: #fff;
    margin: 0;
}

.box-text{
    width: 90%;
    height: fit-content;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    color: aliceblue;
    font-size: 16px;
    background-color: #074b90;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5;
    
}

.under-element{
    margin-top: 20px;
}

.over-element{
    margin-bottom: 20px;
}

.opaco {
    width: 100%;
    height: 100%;
    background-color: #0008;
    display: flex;
}

.box{
    width: 100%;
    height: 500px;
    margin: 0;
    background: url("https://i.redd.it/c3uhsgo1vx541.jpg") center / cover fixed #999;  /* image, position / repeat? size, attachment, color */
    
}