body{
    background: #222 fixed;
    color: #fff;
    font-size: 36px;
    font-family: sans-serif;
}

video {
    box-sizing: border-box;
    width: 80%;
    aspect-ratio: 16/9;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 20px 0 #fff;
}

iframe {
    width: 80%;
    aspect-ratio: 16/9;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #fff;

}

audio {
    width: 80%;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
}