body {
    background-color: #222;
    font-size: 36px;
    font-family: sans-serif;
    color: #fff;
}

div {
    padding: 20px;
}

p {
    text-align: justify;
}

div::first-line {
    color: red;
    font-weight: bolder;
}


div::selection {
    background-color: #555;
}

h1::first-letter{
    color: #666;
}

input ::placeholder {
    color: white;
    background-color: #222;
    border: 0;
}

li::before{
    content: 'Elemento: ';
    color: red;
}

li::after{
    content: ' Disponible';
    color: blue;
}