body{
    background-color: #222;
    margin:0;
    font-size: 36px;
    font-family: sans-serif;
    color: #fff;
}

header a {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.7em;
    color: #fff;
}

p{
    font-size: 0.7em;
}